<section class="container about">
  <div class="avatar">
    <img ngSrc="assets/logos/logo.png" alt="logo" width="256" height="256"/>
  </div>
  <div class="about-text">
    <h1>Hola, soy Julio<br /><span>Full Stack Developer</span></h1>
    <p>
      Soy desarrollador full-stack, especializado en el desarrollo de back-end.
      Mi experiencia se centra en la creación de aplicaciones web basadas en microservicios,
      utilizando Spring para desarrollar APIs RESTful y Angular para consumir estos servicios
      desde el front-end. Me apasiona crear soluciones escalables y eficientes, asegurando
      una integración fluida entre el cliente y el servidor.
    </p>
    <div class="about-btn">
      <button class="btn-primary">Contáctame</button>
      <button class="btn-secondary">Descargar CV</button>
    </div>
  </div>
</section>
