<section class="container">
  <h2 class="primary-heading heading-project">PROJECTS</h2>
  <div class="projects">
    <div class="project-item">
      <img src="assets/images/" alt="project1"/>
      <div class="project-title">
        <p>CLICK AQUI PARA VER</p>
        <h3>Loading...</h3>
      </div>
    </div>
    <div class="project-item">
      <img src="assets/images/" alt="project2"/>
      <div class="project-title">
        <a href=""><p>CLICK AQUI PARA VER</p></a>
        <h3>Loading..</h3>
      </div>
    </div>
  </div>
</section>
