<section class="container experience-with">
  <h2>EXPERIENCIA CON</h2>
  <div class="experience-with-lang">
    <div><img ngSrc="assets/logos/spring.svg" alt="html logo" width="42" height="42"/></div>
    <div><img ngSrc="assets/logos/angular.svg" alt="html logo" width="42" height="42"/></div>
    <div><img ngSrc="assets/logos/postman.svg" alt="html logo" width="42" height="42"/></div>
    <div><img ngSrc="assets/logos/github-dark.svg" alt="html logo" width="42" height="42"/></div>
    <div><img ngSrc="assets/logos/git.svg" alt="html logo" width="42" height="42"/></div>
    <div><img ngSrc="assets/logos/mongodb.svg" alt="html logo" width="42" height="42"/></div>
    <div><img ngSrc="assets/logos/postgresql.svg" alt="html logo" width="42" height="42"/></div>
    <div><img ngSrc="assets/logos/maven.svg" alt="html logo" width="42" height="42"/></div>
    <div><img ngSrc="assets/logos/scss.svg" alt="html logo" width="42" height="42"/></div>
    <div><img ngSrc="assets/logos/docker.svg" alt="html logo" width="42" height="42"/></div>
  </div>
</section>
