.experience-with {
  text-align: center;

  h2 {
    font-size: 20px;
  }
  .experience-with-lang {
    display: flex;
    width: 500px;
    margin: 50px auto;
    justify-content: space-between;

    img {
      width: 42px;
      cursor: pointer;
    }
  }

}

